body{
    background: #8F8482;
    margin-left: 250px;
    margin-right: 250px;
}

header{
    margin-top: 50px;
}

h1{
    color: white;
    font-family: fantasy;    
}

h2{
    font-family: fantasy;    
}
p{
    font-size: 18px;
}

footer{
    margin-top: 60px;
    margin-bottom: 60px;

}

.img_padrao{
    margin-bottom: 20px;
    width: 150px;
}

.img_logo{
    width: 30px;
}